<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>binay_head1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{134,234}</string>
                <key>spriteSourceSize</key>
                <string>{200,234}</string>
                <key>textureRect</key>
                <string>{{638,1},{134,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>binay_head2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{154,234}</string>
                <key>spriteSourceSize</key>
                <string>{200,234}</string>
                <key>textureRect</key>
                <string>{{476,237},{154,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>binay_head3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,1}</string>
                <key>spriteSize</key>
                <string>{152,232}</string>
                <key>spriteSourceSize</key>
                <string>{200,234}</string>
                <key>textureRect</key>
                <string>{{774,1},{152,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>binay_head4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{160,234}</string>
                <key>spriteSourceSize</key>
                <string>{200,234}</string>
                <key>textureRect</key>
                <string>{{476,1},{160,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>binay_head5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,11}</string>
                <key>spriteSize</key>
                <string>{152,212}</string>
                <key>spriteSourceSize</key>
                <string>{200,234}</string>
                <key>textureRect</key>
                <string>{{712,237},{152,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,55}</string>
                <key>spriteSourceSize</key>
                <string>{150,55}</string>
                <key>textureRect</key>
                <string>{{202,301},{150,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{182,50}</string>
                <key>spriteSourceSize</key>
                <string>{200,60}</string>
                <key>textureRect</key>
                <string>{{202,358},{182,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>life.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{67,119}</string>
                <key>spriteSourceSize</key>
                <string>{69,119}</string>
                <key>textureRect</key>
                <string>{{133,301},{67,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{473,298}</string>
                <key>spriteSourceSize</key>
                <string>{473,298}</string>
                <key>textureRect</key>
                <string>{{1,1},{473,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pause_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,120}</string>
                <key>spriteSourceSize</key>
                <string>{130,120}</string>
                <key>textureRect</key>
                <string>{{1,301},{130,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>binay.png</string>
            <key>size</key>
            <string>{927,422}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32f31685e6141674e4dc9ae8ee104f0e:2451bedfb5d11f66696b79bde1eb8034:a8c9a1cf2346b6b9ac2f3e13205e3550$</string>
            <key>textureFileName</key>
            <string>binay.png</string>
        </dict>
    </dict>
</plist>
