<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,309},{10,8}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,27},{10,8}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,572},{16,14}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{16,14}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,492},{22,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{22,20}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,745},{28,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{28,26}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,275},{36,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{36,32}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,94},{42,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{42,38}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,838},{48,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{48,44}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,769},{56,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{56,50}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,571},{62,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{62,54}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,734},{60,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{60,54}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,714},{60,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{60,54}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,799},{60,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{60,54}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,781},{60,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{60,54}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,734},{60,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{60,54}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,687},{60,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{60,54}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,679},{60,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{60,54}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,744},{60,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{60,54}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,726},{60,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{60,54}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,679},{60,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{60,54}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,553},{62,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{62,54}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,508},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{62,60}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,394},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,467},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,445},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,457},{62,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{62,60}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,643},{50,56}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{50,56}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,789},{52,58}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{52,58}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,742},{54,58}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{54,58}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,714},{48,58}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{48,58}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,237},{4,4}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,31},{4,4}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,395},{12,10}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,28},{12,10}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,555},{18,16}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,24},{18,16}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,467},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,20},{24,22}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,714},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,17},{30,28}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,137},{38,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,15},{38,32}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,51},{42,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,11},{42,38}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,816},{50,42}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{50,42}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,789},{56,48}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{56,48}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,626},{62,52}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{62,52}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,700},{62,52}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{62,52}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,661},{62,52}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{62,52}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,661},{62,52}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{62,52}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,608},{62,52}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{62,52}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,553},{62,54}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{62,54}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,587},{62,54}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{62,54}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,569},{62,54}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{62,54}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,514},{62,56}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{62,56}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,496},{62,56}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{62,56}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,496},{62,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{62,56}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,457},{62,56}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{62,56}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,435},{62,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,60}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,394},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,372},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,372},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,435},{62,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{62,60}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,763},{52,56}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{52,56}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,624},{54,58}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,58}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,457},{56,58}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,58}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,854},{48,58}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{48,58}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>buttonA.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,309},{84,86}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,86}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>buttonB.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,382},{84,86}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,86}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>buttonC.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,309},{84,86}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,86}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>button_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,309},{161,72}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{161,72}}</string>
                <key>sourceSize</key>
                <string>{167,74}</string>
            </dict>
            <key>button_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,308},{82,35}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{82,35}}</string>
                <key>sourceSize</key>
                <string>{84,37}</string>
            </dict>
            <key>c0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,232},{4,4}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,31},{4,4}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,382},{12,10}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,28},{12,10}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,538},{18,16}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,24},{18,16}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,513},{24,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,22},{24,20}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,772},{30,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,19},{30,26}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,170},{38,30}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,17},{38,30}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,232},{42,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,13},{42,36}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,0},{50,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{50,40}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,797},{56,44}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{56,44}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,580},{62,50}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{62,50}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,695},{62,48}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{62,48}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,677},{62,48}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{62,48}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,394},{62,48}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{62,48}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,517},{62,50}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{62,50}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,454},{62,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{62,50}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,391},{62,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{62,50}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,608},{62,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{62,52}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,642},{62,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{62,52}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,624},{62,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{62,52}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,518},{62,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{62,54}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,573},{62,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{62,52}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,530},{62,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{62,56}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,309},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,309},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,382},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,626},{60,60}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,60}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,763},{52,56}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{52,56}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,569},{54,58}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{54,58}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,514},{54,58}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{54,58}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,836},{48,58}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{48,58}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>life.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,201},{30,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,37}}</string>
                <key>sourceSize</key>
                <string>{30,37}</string>
            </dict>
            <key>menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{470,308}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{470,308}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>pause_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,820},{48,48}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jetpack.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:145119632a8f9f81221465fe974e9325$</string>
            <key>textureFileName</key>
            <string>jetpack.pvr.ccz</string>
        </dict>
    </dict>
</plist>
